<b>

ISYS613 | Course Project | Fall 2021
--------|----------------|----------

</b>

## Project Overview
The objective of this project is to afford you the opportunity to demonstrate the
skills acquired over the course of the semester.  Specifically, you will be constructing
an analytics-ready dataset using data from several disparate, but related data sources.

Your dataset is to be a pandas dataframe suitable for answering the proof-of-concept
questions located at the end of this document.

### The Scenario
You are the proprietor of a small tour company.  You are interested in launching a new app
that will allow users to undertake self-guided tours of noteworthy authors. To launch your app
you need to assemble the authors' location information along with some other facts that you
believe will be of interest to your customers.

## Data Sources
You will be collecting and assembling data from several different sources and formats.
1. Source 1 - web scraping
1. Source 2 - delimitted file
1. Source 3 - direct download XML file
1. Source 4 - Zip Code API

## Project Teams
Working on a team is not a requirement and you may complete the project on your own.
Thus, project team(s) may be composed of 1 or **at most** 2 students. If you are working
with another student please, ensure both of your names are clearly visible in your final solution JNB.

### Source 1: Initial Author Data
The initial list of author names is to be web-scraped from a popular "famous quotes" website.
There are 50 unique authors available from this site.  Begin your exploration at the base
URL and determine your own strategy to find and capture the required author data.

Depending on your approach, you may encounter the same author multiple times.
In the end, your list of authors should be duplicate free.

```
Base Scrape URL: https://quotes.toscrape.com
```
#### Tasks
1. Beginning at the Base Scrape URL given above, you are to use a web scraping technique to collect
the following author information:
* Full Name
* Date of birth
* Birth location
2. Create a pandas dataframe from (or using) the relevant data

In [1]:
from requests.exceptions import HTTPError
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

# TEST DATA
URL = 'https://quotes.toscrape.com'

def simple_get(url, *args, **kwargs):
    """
    Attempts to get the content at `url` by making an HTTP GET request.
    If the content-type of response is some kind of HTML/XML, return the
    text content, otherwise return None.
    """
    try:
        resp = requests.get(url, *args, **kwargs)
        # If the response was successful, no Exception will be raised
        resp.raise_for_status()

    except HTTPError as http_err:
        print(f'HTTP error occurred: {http_err}')
        raise http_err
    except Exception as err:
        print(f'Other error occurred: {err}')
        raise err

    return resp

all_links = [URL]

for i in all_links:
    response = simple_get(i, timeout = 5)
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    next_l = soup.find('li', class_= 'next')
    if next_l is not None:
        next_a = next_l.a
        next_href = next_a.get('href')
        all_links.append(URL+next_href)

def author_link(soup_url):
    authors_dic = {}
    for link in soup_url.find_all('span'):
        if link.a != None:
            l = link.a
            url_info = l.get('href')
        if link.small != None:
            author = link.small
            name = author.text
            authors_dic[name] = URL+url_info
    return authors_dic


duplicate_free = []

for a in all_links:
    response_a = simple_get(a, timeout = 5)
    html_a = response_a.text
    soup_a = BeautifulSoup(html_a, 'html.parser')


    for key,val in author_link(soup_a).items():
        response_val = simple_get(val, timeout = 5)
        html_val = response_val.text
        soup_val = BeautifulSoup(html_val, 'html.parser')
    
        
        birthdate_tag = soup_val.find(class_='author-born-date')
        birthdate = birthdate_tag.text
        
        birthplace_tag = soup_val.find(class_='author-born-location')
        birthplace = birthplace_tag.text.strip(' in')
        
        
        
        info = [key,birthdate,birthplace]
        
        if info not in duplicate_free:
            duplicate_free.append(info)

source_1 = pd.DataFrame(duplicate_free, columns = ['Name','Birthdate','Birthplace']) 
source_1

,Name,Birthdate,Birthplace
0,Albert Einstein,"March 14, 1879","Ulm, Germany"
1,J.K. Rowling,"July 31, 1965","Yate, South Gloucestershire, England, The Unit..."
2,Jane Austen,"December 16, 1775","Steventon Rectory, Hampshire, The United Kingdom"
3,Marilyn Monroe,"June 01, 1926",The United States
4,André Gide,"November 22, 1869","Paris, France"
5,Thomas A. Edison,"February 11, 1847","Milan, Ohio, The United States"
6,Eleanor Roosevelt,"October 11, 1884",The United States
7,Steve Martin,"August 14, 1945","Waco, Texas, The United States"
8,Bob Marley,"February 06, 1945","Nine Mile, Saint Ann, Jamaica"
9,Dr. Seuss,"March 02, 1904","Springfield, MA, The United States"
10,Douglas Adams,"March 11, 1952","Cambridge, England, The United Kingdom"
11,Elie Wiesel,"September 30, 1928","Sighet, Romania"
12,Friedrich Nietzsche,"October 15, 1844","Röcken bei Lützen, Prussian Province of Saxony..."
13,Mark Twain,"November 30, 1835","Florida, Missouri, The United States"
14,Allen Saunders,"April 24, 1899",The United States
15,Pablo Neruda,"July 12, 1904","Parral, Chile"
16,Ralph Waldo Emerson,"May 25, 1803","Boston, Massachusetts, The United States"
17,Mother Teresa,"August 26, 1910","Skopje, Macedonia, the Former Yugoslav Republi..."
18,Garrison Keillor,"August 07, 1942","Anoka, Minnesota, The United States"
19,Jim Henson,"September 24, 1936","Greenville, Mississippi, The United States"
20,Charles M. Schulz,"November 26, 1922","Minneapolis, MN, The United States"
21,William Nicholson,"January 12, 1948","Lewes, Sussex, The United Kingdom"
22,Jorge Luis Borges,"August 24, 1899","Buenos Aires, Argentina"
23,George Eliot,"November 22, 1819","South Farm, Arbury Hall, Nuneaton, Warwickshir..."
24,George R.R. Martin,"September 20, 1948","Bayonne, New Jersey, The United States"
25,C.S. Lewis,"November 29, 1898","Belfast, Ireland"
26,Martin Luther King Jr.,"January 15, 1929","Atlanta, Georgia, The United States"
27,James Baldwin,"August 02, 1924","Harlem, New York, The United States"
28,Haruki Murakami,"January 12, 1949","Kyoto, Japa"
29,Alexandre Dumas fils,"July 27, 1824","Paris, France"
30,Stephenie Meyer,"December 24, 1973","Connecticut, The United States"
31,Ernest Hemingway,"July 21, 1899","Oak Park, Illinois, The United States"
32,Helen Keller,"June 27, 1880","Tuscumbia, Alabama, The United States"
33,George Bernard Shaw,"July 26, 1856","Dublin, Ireland"
34,Charles Bukowski,"August 16, 1920","Andernach, Germany"
35,Suzanne Collins,"August 11, 1962","Hartford, Connecticut, The United States"
36,J.R.R. Tolkien,"January 03, 1892","Bloemfontein, Mangaung, Free State, South Africa"
37,Alfred Tennyson,"August 06, 1809","Somersby, Lincolnshire, The United Kingdom"
38,Terry Pratchett,"April 28, 1948","Beaconsfield, Buckinghamshire, England, The Un..."
39,J.D. Salinger,"January 01, 1919","Manhattan, New York, The United States"
40,George Carlin,"May 12, 1937","New York, New York, The United States"
41,John Lennon,"October 09, 1940","Liverpool, England, The United Kingdom"
42,W.C. Fields,"January 29, 1880","Darby, Pennsylvania, The United States"
43,Ayn Rand,"February 02, 1905","St. Petersburg, Russian Federatio"
44,Jimi Hendrix,"November 27, 1942","Seattle, Washington, The United States"
45,J.M. Barrie,"May 09, 1860","Kirriemuir, Angus, Scotland, The United Kingdom"
46,E.E. Cummings,"October 14, 1894","Cambridge, Massachusetts, The United States"
47,Khaled Hosseini,"March 04, 1965","Kabul, Afghanista"
48,Harper Lee,"April 28, 1926","Monroeville, Alabama, The United States"
49,Madeleine L'Engle,"November 29, 1918","New York City, New York, The United States"

In [2]:
source_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        50 non-null     object
 1   Birthdate   50 non-null     object
 2   Birthplace  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

### Source 2: Author Key Data
For each of the 50 authors previously identified, you are to merge a key and gender value available
from a CSV file with the author data from *Source 1*.

```
CSV File: *author_key_file.csv*
```
#### Tasks
1. The author names are unique in both
data sources and thus may be used to associate the *key* and *gender* attribute values with the author.
3. Once you have completed the merge, convert the *key* column to be the dataframe's row index.

In [3]:
import csv

with open('author_key_file.csv', mode='r', newline='', encoding = 'UTF-8') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    header = next(csv_reader)
    
    source = []
    for row in csv_reader: 
        name_handler = row[0]
        
        if name_handler == 'Alexandre Dumas-fils':
            fullname = name_handler.replace('Alexandre Dumas-fils','Alexandre Dumas fils')
        else:
            fullname = row[0]
        full_info = fullname,row[1],row[2]
        source.append(full_info)
    
source_2 = pd.DataFrame(source, columns = ['Name','Key','Gender']) 
merged_source = pd.merge(source_1,source_2, on='Name')

indexed_key = merged_source.set_index('Key')
indexed_key

,Name,Birthdate,Birthplace,Gender
Key,,,,
QWxiZXJ0,Albert Einstein,"March 14, 1879","Ulm, Germany",M
Si1LLVJv,J.K. Rowling,"July 31, 1965","Yate, South Gloucestershire, England, The Unit...",F
SmFuZS1B,Jane Austen,"December 16, 1775","Steventon Rectory, Hampshire, The United Kingdom",F
TWFyaWx5,Marilyn Monroe,"June 01, 1926",The United States,F
QW5kcmUt,André Gide,"November 22, 1869","Paris, France",M
VGhvbWFz,Thomas A. Edison,"February 11, 1847","Milan, Ohio, The United States",M
RWxlYW5v,Eleanor Roosevelt,"October 11, 1884",The United States,F
U3RldmUt,Steve Martin,"August 14, 1945","Waco, Texas, The United States",M
Qm9iLU1h,Bob Marley,"February 06, 1945","Nine Mile, Saint Ann, Jamaica",M
RHItU2V1,Dr. Seuss,"March 02, 1904","Springfield, MA, The United States",M
RG91Z2xh,Douglas Adams,"March 11, 1952","Cambridge, England, The United Kingdom",M
RWxpZS1X,Elie Wiesel,"September 30, 1928","Sighet, Romania",M
RnJpZWRy,Friedrich Nietzsche,"October 15, 1844","Röcken bei Lützen, Prussian Province of Saxony...",M
TWFyay1U,Mark Twain,"November 30, 1835","Florida, Missouri, The United States",M
QWxsZW4t,Allen Saunders,"April 24, 1899",The United States,M
UGFibG8t,Pablo Neruda,"July 12, 1904","Parral, Chile",M
UmFscGgt,Ralph Waldo Emerson,"May 25, 1803","Boston, Massachusetts, The United States",M
TW90aGVy,Mother Teresa,"August 26, 1910","Skopje, Macedonia, the Former Yugoslav Republi...",F
R2Fycmlz,Garrison Keillor,"August 07, 1942","Anoka, Minnesota, The United States",M
SmltLUhl,Jim Henson,"September 24, 1936","Greenville, Mississippi, The United States",M
Q3hhcmxl,Charles M. Schulz,"November 26, 1922","Minneapolis, MN, The United States",M
V2lsbGlh,William Nicholson,"January 12, 1948","Lewes, Sussex, The United Kingdom",M
Sm9yZ2Ut,Jorge Luis Borges,"August 24, 1899","Buenos Aires, Argentina",M
R4Vvcmdl,George Eliot,"November 22, 1819","South Farm, Arbury Hall, Nuneaton, Warwickshir...",F
R5Vvcmdl,George R.R. Martin,"September 20, 1948","Bayonne, New Jersey, The United States",M
Qy1TLUxl,C.S. Lewis,"November 29, 1898","Belfast, Ireland",M
TWFydGlu,Martin Luther King Jr.,"January 15, 1929","Atlanta, Georgia, The United States",M
SmFtZXMt,James Baldwin,"August 02, 1924","Harlem, New York, The United States",M
SGFydWtp,Haruki Murakami,"January 12, 1949","Kyoto, Japa",M
QWxleGFu,Alexandre Dumas fils,"July 27, 1824","Paris, France",M
QWxleGFu,Alexandre Dumas fils,"July 27, 1824","Paris, France",M
U3RlcGhl,Stephenie Meyer,"December 24, 1973","Connecticut, The United States",F
RXJuZXN0,Ernest Hemingway,"July 21, 1899","Oak Park, Illinois, The United States",M
SGVsZW4t,Helen Keller,"June 27, 1880","Tuscumbia, Alabama, The United States",F
R2Vvcmdl,George Bernard Shaw,"July 26, 1856","Dublin, Ireland",M
Q2hhcmxl,Charles Bukowski,"August 16, 1920","Andernach, Germany",M
U3V6YW5u,Suzanne Collins,"August 11, 1962","Hartford, Connecticut, The United States",F
Si1SLVIt,J.R.R. Tolkien,"January 03, 1892","Bloemfontein, Mangaung, Free State, South Africa",M
QWxmcmVk,Alfred Tennyson,"August 06, 1809","Somersby, Lincolnshire, The United Kingdom",M
VGVycnkt,Terry Pratchett,"April 28, 1948","Beaconsfield, Buckinghamshire, England, The Un...",M
Si1ELVNh,J.D. Salinger,"January 01, 1919","Manhattan, New York, The United States",M
R3Vvcmdl,George Carlin,"May 12, 1937","New York, New York, The United States",M
Sm9obi1M,John Lennon,"October 09, 1940","Liverpool, England, The United Kingdom",M
Vy1DLUZp,W.C. Fields,"January 29, 1880","Darby, Pennsylvania, The United States",M
QXluLVJh,Ayn Rand,"February 02, 1905","St. Petersburg, Russian Federatio",F
SmltaS1I,Jimi Hendrix,"November 27, 1942","Seattle, Washington, The United States",M
Si1NLUJh,J.M. Barrie,"May 09, 1860","Kirriemuir, Angus, Scotland, The United Kingdom",M
RS1FLUN1,E.E. Cummings,"October 14, 1894","Cambridge, Massachusetts, The United States",M
S2hhbGVk,Khaled Hosseini,"March 04, 1965","Kabul, Afghanista",M
SGFycGVy,Harper Lee,"April 28, 1926","Monroeville, Alabama, The United States",F
TWFkZWxl,Madeleine L'Engle,"November 29, 1918","New York City, New York, The United States",F

In [4]:
indexed_key.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, QWxiZXJ0 to TWFkZWxl
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        51 non-null     object
 1   Birthdate   51 non-null     object
 2   Birthplace  51 non-null     object
 3   Gender      51 non-null     object
dtypes: object(4)
memory usage: 2.0+ KB

### Source 3: Author Location Data
This direct download XML data source contains the location information that will be used
to direct app users to the historical sites associated with each author.  The *id*
tag can be used to match the previously assembled author data (ie, the *key* attribute) with
the author location data.

You are to retain all of the location attributes (excluding *id* - which will be a
duplicate of the existing *key* attribute) from this data source to extend the
previously collected author data.

```
Direct Download URL: https://www.drivehq.com/file/DFPublishFile.aspx/FileID7657515244/Keycqacws4cypvo/author_location_data.xml
Data Format: XML
Encoding: UTF-8
```
#### Tasks
1. Ingest the XML data into a pandas dataframe
2. Use the pandas dataframe merge method to join the new dataframe
with the Source 1+2 dataframe.
3. *Source 3* contains location data for many public figures in addition
to the 50 authors in which we are currently interested. You must restrict your
final Source 3 dataframe to our 50 authors.

In [5]:
import requests
from requests.exceptions import HTTPError
import xml.etree.ElementTree as ET
import pandas as pd
import io

URI = 'https://www.drivehq.com/file/DFPublishFile.aspx/FileID7657515244/Keycqacws4cypvo/author_location_data.xml'

def uri_get(url:str, *args, **kwargs) -> requests.Response:
    try:
        response = requests.get(url, *args, **kwargs)
        response.raise_for_status()

    except HTTPError as http_err:
        print(f'HTTP error occurred: {http_err}')
        raise
    except Exception as err:
        print(f'Other error occurred: {err}')
        raise
    else:
        print(f'Success: {response.status_code}')

    return response


response = uri_get(URI)
root = ET.fromstring(response.text)

df_cols = ['Key','price','bedrooms','bathrooms','sqft_living','sqft_lot', 'floors','waterfront',
          'grade','yr_built','lat','long']
rows = []

for node in root:
    t_id_key = node.find('id').text
    t_price = node.find('price').text
    t_bedrooms = node.find('bedrooms').text
    t_bathrooms = node.find('bathrooms').text
    t_sqft_living = node.find('sqft_living').text
    t_sqft_lot = node.find('sqft_lot').text
    t_floors = node.find('floors').text
    t_waterfront = node.find('waterfront').text
    t_grade = node.find('grade').text
    t_yr_built = node.find('yr_built').text
    t_lat = node.find('lat').text
    t_long = node.find('long').text
    rows.append({'Key': t_id_key, 'price':t_price, 'bedrooms':t_bedrooms,
                 'bathrooms':t_bathrooms,'sqft_living':t_sqft_living,'sqft_lot': t_sqft_lot, 'floors':t_floors,
                 'waterfront':t_waterfront,'grade':t_grade,'yr_built':t_yr_built,
                 'lat':float(t_lat),'long':float(t_long)})
    
out_df = pd.DataFrame(rows,columns = df_cols)

merged_source123 = pd.merge(merged_source,out_df, on='Key')
merged_source123

Success: 200

,Name,Birthdate,Birthplace,Key,Gender,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,grade,yr_built,lat,long
0,Albert Einstein,"March 14, 1879","Ulm, Germany",QWxiZXJ0,M,699999,3,0.75,1240,4000,1,0,7,1968,40.7123,-94.0385
1,J.K. Rowling,"July 31, 1965","Yate, South Gloucestershire, England, The Unit...",Si1LLVJv,F,415000,3,2.5,1060,1536,2,0,8,2000,38.8778,-77.0672
2,Jane Austen,"December 16, 1775","Steventon Rectory, Hampshire, The United Kingdom",SmFuZS1B,F,300000,3,2.5,2540,5050,2,0,7,2006,33.9784,-117.0405
3,Marilyn Monroe,"June 01, 1926",The United States,TWFyaWx5,F,2480000,4,5,5310,16909,1,0,12,1992,42.8802,-78.8432
4,André Gide,"November 22, 1869","Paris, France",QW5kcmUt,M,425000,3,1.75,1530,9800,1,0,8,1958,37.6119,-82.7187
5,Thomas A. Edison,"February 11, 1847","Milan, Ohio, The United States",VGhvbWFz,M,179900,2,1,680,6400,1,0,6,1943,47.7890,-117.0142
6,Eleanor Roosevelt,"October 11, 1884",The United States,RWxlYW5v,F,420000,3,1.75,1770,6000,1,0,7,1952,34.6356,-102.7123
7,Steve Martin,"August 14, 1945","Waco, Texas, The United States",U3RldmUt,M,761000,3,3.5,2050,2020,2,0,8,2006,42.0902,-72.0532
8,Bob Marley,"February 06, 1945","Nine Mile, Saint Ann, Jamaica",Qm9iLU1h,M,307150,3,1.5,1480,6752,1,0,7,1959,32.7916,-96.7526
9,Dr. Seuss,"March 02, 1904","Springfield, MA, The United States",RHItU2V1,M,550000,3,3.5,2490,3582,2,0,8,2005,42.6669,-73.7866
10,Douglas Adams,"March 11, 1952","Cambridge, England, The United Kingdom",RG91Z2xh,M,528000,3,2.5,2020,5613,2,0,7,2003,26.7401,-80.1104
11,Elie Wiesel,"September 30, 1928","Sighet, Romania",RWxpZS1X,M,418395,4,2.5,2906,5893,2,0,9,2014,37.3409,-85.3317
12,Friedrich Nietzsche,"October 15, 1844","Röcken bei Lützen, Prussian Province of Saxony...",RnJpZWRy,M,630000,4,2.75,2710,37277,2,0,9,2000,42.8802,-78.8432
13,Mark Twain,"November 30, 1835","Florida, Missouri, The United States",TWFyay1U,M,673200,5,3,4180,8561,2,0,7,2003,40.0528,-84.1107
14,Allen Saunders,"April 24, 1899",The United States,QWxsZW4t,M,264950,2,1,770,7434,1,0,6,1947,45.5305,-102.7918
15,Pablo Neruda,"July 12, 1904","Parral, Chile",UGFibG8t,M,1295000,4,3.5,3790,90169,2,0,11,1998,37.9752,-89.0421
16,Ralph Waldo Emerson,"May 25, 1803","Boston, Massachusetts, The United States",UmFscGgt,M,230000,4,1.5,1050,9516,1,0,7,1969,35.5085,-80.8206
17,Mother Teresa,"August 26, 1910","Skopje, Macedonia, the Former Yugoslav Republi...",TW90aGVy,F,410000,4,2,1580,9581,1,0,7,1953,37.4258,-96.9173
18,Garrison Keillor,"August 07, 1942","Anoka, Minnesota, The United States",R2Fycmlz,M,247500,4,1.75,2290,7765,1,0,6,1936,44.5793,-71.1740
19,Jim Henson,"September 24, 1936","Greenville, Mississippi, The United States",SmltLUhl,M,325000,4,1,1400,9384,1.5,0,6,1948,32.3510,-86.2743
20,Charles M. Schulz,"November 26, 1922","Minneapolis, MN, The United States",Q3hhcmxl,M,134000,2,1.5,980,5000,2,0,7,1922,38.0329,-78.4703
21,William Nicholson,"January 12, 1948","Lewes, Sussex, The United Kingdom",V2lsbGlh,M,315000,3,1.75,1970,8200,1,0,7,1964,48.7664,-94.9439
22,Jorge Luis Borges,"August 24, 1899","Buenos Aires, Argentina",Sm9yZ2Ut,M,390000,3,1,1000,6947,1,0,7,1947,34.0528,-117.2339
23,George Eliot,"November 22, 1819","South Farm, Arbury Hall, Nuneaton, Warwickshir...",R4Vvcmdl,F,260000,4,2,1620,7992,2,0,7,1975,37.6529,-75.6611
24,George R.R. Martin,"September 20, 1948","Bayonne, New Jersey, The United States",R5Vvcmdl,M,378000,4,2.5,1890,12236,1,0,7,1978,40.8348,-74.2650
25,C.S. Lewis,"November 29, 1898","Belfast, Ireland",Qy1TLUxl,M,351000,4,2.5,2370,7274,2,0,7,1997,31.4700,-92.7651
26,Martin Luther King Jr.,"January 15, 1929","Atlanta, Georgia, The United States",TWFydGlu,M,291600,3,1.75,1630,7480,1,0,7,1979,38.8980,-77.0233
27,James Baldwin,"August 02, 1924","Harlem, New York, The United States",SmFtZXMt,M,660000,3,1.75,1980,3300,1.5,0,7,1926,40.2753,-76.8711
28,Haruki Murakami,"January 12, 1949","Kyoto, Japa",SGFydWtp,M,292000,3,2.5,1560,2740,2,0,8,1999,43.7253,-97.5880
29,Alexandre Dumas fils,"July 27, 1824","Paris, France",QWxleGFu,M,576750,3,2,2220,5000,1,0,7,1966,40.4316,-89.3043
30,Alexandre Dumas fils,"July 27, 1824","Paris, France",QWxleGFu,M,576750,3,2,2220,5000,1,0,7,1966,40.4316,-89.3043
31,Stephenie Meyer,"December 24, 1973","Connecticut, The United States",U3RlcGhl,F,200000,4,2,1920,4822,1,0,6,1914,21.3055,-157.8447
32,Ernest Hemingway,"July 21, 1899","Oak Park, Illinois, The United States",RXJuZXN0,M,368000,3,1.75,2120,11340,1,0,7,1966,40.1171,-90.5572
33,Helen Keller,"June 27, 1880","Tuscumbia, Alabama, The United States",SGVsZW4t,F,396000,3,1.75,2340,5668,1,0,6,1941,41.6780,-73.7979
34,George Bernard Shaw,"July 26, 1856","Dublin, Ireland",R2Vvcmdl,M,525000,4,2.5,3070,7200,2,0,8,2005,44.8604,-72.5842
35,Charles Bukowski,"August 16, 1920","Andernach, Germany",Q2hhcmxl,M,590000,4,1.5,2230,5109,1.5,0,7,1918,30.7139,-86.0386
36,Suzanne Collins,"August 11, 1962","Hartford, Connecticut, The United States",U3V6YW5u,F,530000,3,2.5,1970,6295,2,0,7,2011,32.5109,-92.1363
37,J.R.R. Tolkien,"January 03, 1892","Bloemfontein, Mangaung, Free State, South Africa",Si1SLVIt,M,792500,3,1.5,1960,2400,2,0,8,1911,39.9560,-75.1506
38,Alfred Tennyson,"August 06, 1809","Somersby, Lincolnshire, The United Kingdom",QWxmcmVk,M,565000,3,1.75,1130,5111,1,0,7,1942,37.5303,-82.6206
39,Terry Pratchett,"April 28, 1948","Beaconsfield, Buckinghamshire, England, The Un...",VGVycnkt,M,547000,2,1,1370,10038,1.5,0,7,1922,38.8624,-104.7565
40,J.D. Salinger,"January 01, 1919","Manhattan, New York, The United States",Si1ELVNh,M,291850,3,1.5,1060,9711,1,0,7,1963,44.2632,-88.3846
41,George Carlin,"May 12, 1937","New York, New York, The United States",R3Vvcmdl,M,245000,3,1.75,1920,9306,1,0,7,1984,32.9123,-96.6182
42,John Lennon,"October 09, 1940","Liverpool, England, The United Kingdom",Sm9obi1M,M,515000,2,1,1060,4960,1,0,7,1926,39.7759,-86.1383
43,W.C. Fields,"January 29, 1880","Darby, Pennsylvania, The United States",Vy1DLUZp,M,425000,4,2.5,2390,5021,2,0,7,2002,18.4008,-66.0534
44,Ayn Rand,"February 02, 1905","St. Petersburg, Russian Federatio",QXluLVJh,F,825000,4,2.75,3990,6637,2,0,9,2003,37.3554,-90.6879
45,Jimi Hendrix,"November 27, 1942","Seattle, Washington, The United States",SmltaS1I,M,284200,3,1.75,1540,6632,1,0,7,1959,39.9894,-81.1697
46,J.M. Barrie,"May 09, 1860","Kirriemuir, Angus, Scotland, The United Kingdom",Si1NLUJh,M,515000,3,2.5,3000,8250,1,0,8,1963,35.9007,-80.7921
47,E.E. Cummings,"October 14, 1894","Cambridge, Massachusetts, The United States",RS1FLUN1,M,485000,4,2,1400,3600,1,0,7,1900,45.4517,-122.6901
48,Khaled Hosseini,"March 04, 1965","Kabul, Afghanista",S2hhbGVk,M,527500,4,2.25,2270,8480,1,0,8,1973,38.9148,-75.4267
49,Harper Lee,"April 28, 1926","Monroeville, Alabama, The United States",SGFycGVy,F,340500,3,2,2270,28025,1,0,7,1947,38.9532,-76.9472
50,Madeleine L'Engle,"November 29, 1918","New York City, New York, The United States",TWFkZWxl,F,296500,3,1.5,1580,10100,1,0,7,1961,38.8680,-104.7562

In [6]:
merged_source123.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         51 non-null     object
 1   Birthdate    51 non-null     object
 2   Birthplace   51 non-null     object
 3   Key          51 non-null     object
 4   Gender       51 non-null     object
 5   price        51 non-null     object
 6   bedrooms     51 non-null     object
 7   bathrooms    51 non-null     object
 8   sqft_living  51 non-null     object
 9   sqft_lot     51 non-null     object
 10  floors       51 non-null     object
 11  waterfront   51 non-null     object
 12  grade        51 non-null     object
 13  yr_built     51 non-null     object
 14  lat          51 non-null     float64
 15  long         51 non-null     float64
dtypes: float64(2), object(14)
memory usage: 6.8+ KB

### Source 4: Zip Code API
You may have observed that the *Source 3* data does not include the city and zip code information for
the property locations for our 50 authors.  Your task is the use the latitude and longitude
values from the *Source 3* data to locate the city and zip code information and incorporate
that information into your dataframe.

The USPS maintains data related to all US zip codes and their centroid latitude and longitude.  The
*Source 3* data contains the latitude and longitude information (the lat and long tags) for the
author locations. Your task
is to use the *Source 3* latitude and longitude values as an argument to the zip code api in order to
to augment your dataframe with the city name and zip code of the authors' locations.

The ZIP code API contains ZIP codes for the
continental United States, Alaska, Hawaii, Puerto Rico, and American Samoa.
The API provides data in JSON format values for for ZIP code, city, latitude, longitude,
timezone (offset from GMT).

The relevant zip code API URL and parameters are shown in the table below.


API Information and Parameters | Value
---------------------|------
Dataset Name | US Zip Codes Points- United States of America
Dataset Overview | https://public.opendatasoft.com/explore/dataset/georef-united-states-of-america-zc-point/information/
API Documentation | https://public.opendatasoft.com/explore/dataset/georef-united-states-of-america-zc-point/api/
API URL | https://public.opendatasoft.com/api/records/1.0/search/
dataset (parameter) | georef-united-states-of-america-zc-point
rows (parameter) | 100
geofilter.distance (parameter) | Distance value must by at least 10 kilometers
Geofilter Documentation | https://help.opendatasoft.com/platform/en/exploring_catalog_and_datasets/03_searching_the_data/search.html#geo-filtering

Use the interactive OpenAPI interface available at the API Documentation URL to review the JSON data
returned by a properly constructed query.

#### Tasks
The long and lat values from *Source 3* are the exact longitude and latitude values for a
single property location.  As such, it is unlikely that you will find an exact match from the
zip code API using these values. Instead, you must:

1. round the lat and long values to 2 decimal place
2. invoke the API requesting all zip code related data within 10 kilometers from the
rounded lat and long values. (Refer to the *q* or *geofilter.distance* parameter documentation listed above.)
3. If the returned JSON results indicate more that one candidate record has been returned, you
must determine which record's longitude and latitude are the **closest** to the *Source 3*
long and lat values.
<br/><br/>There are several ways to accomplish this. For example, you could calculate the distance between the
each result's longitude,latitude values and the the long, lat values from *Source 3*. The
distance between the values can be calculated using the Pythagorean Theorem as follows: <br/>
&radic;( (lon<sub>1</sub>-lon<sub>2</sub>)<sup>2</sup> + (lat<sub>1</sub>-lat<sub>2</sub>)<sup>2</sup> )
 <br/><br/> Another, far better, approach involves a paying careful attention *dist* name,value pair
 located in the fields object of the returned JSON data and how that field may be used in the *sort*
 parameter and how its use impacts the returned results. This is a hint...
4. Use the city and zip code that are associated with the result having the
 minimum distance from (closest to) the *Source 3* long, lat values.

In [7]:
rounded_source = merged_source123.round({'lat':2,'long':2})
rounded_source

lat_source  = rounded_source['lat']
lon_source = rounded_source['long']
name = merged_source123['Name']


import requests
import json
from requests.exceptions import HTTPError
from pprint import pprint


def uri_get(url:str, *args, **kwargs) -> requests.Response:
    try:
        response = requests.get(url, *args, **kwargs)
        # If the response was successful, no Exception will be raised
        # by the following line
        # response.raise_for_status()

    except HTTPError as http_err:
        # Cannot proceed
        print(f'HTTP error occurred: {http_err}')
        raise
    except Exception as err:
        # Cannot proceed
        print(f'Other error occurred: {err}')
        raise
    else:
        response.status_code

    return response


URI = 'https://public.opendatasoft.com/api/records/1.0/search/'

results_zip = []
results_city = []

for (lat, lon) in zip(lat_source,lon_source):
    parameters = {'dataset':'georef-united-states-of-america-zc-point', 
                  'rows': 1,
                  'geofilter.distance': f'{lat},{lon},10000',
                  'sort': '-dist'}

    response = uri_get(URI, params=parameters,  timeout=5)
    py_dict = response.json() 

    for rec in py_dict['records']:
        fields = rec['fields']
        zcode = fields['zip_code']
        city = fields['usps_city'] 
        geo = rec['geometry']
        coordinates_lat = geo['coordinates'][1]
        coordinates_lon = geo['coordinates'][0]
        
        results_zip.append(zcode)
        results_city.append(city)
 

df_zip_city = pd.DataFrame({'Name':name, 'zip code': results_zip, 'city': results_city})


sources_final = pd.merge(rounded_source, df_zip_city, how = 'inner', on = 'Name')
sources_final

,Name,Birthdate,Birthplace,Key,Gender,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,grade,yr_built,lat,long,zip code,city
0,Albert Einstein,"March 14, 1879","Ulm, Germany",QWxiZXJ0,M,699999,3,0.75,1240,4000,1,0,7,1968,40.71,-94.04,50133,Kellerton
1,J.K. Rowling,"July 31, 1965","Yate, South Gloucestershire, England, The Unit...",Si1LLVJv,F,415000,3,2.5,1060,1536,2,0,8,2000,38.88,-77.07,22211,Fort Myer
2,Jane Austen,"December 16, 1775","Steventon Rectory, Hampshire, The United Kingdom",SmFuZS1B,F,300000,3,2.5,2540,5050,2,0,7,2006,33.98,-117.04,92320,Calimesa
3,Marilyn Monroe,"June 01, 1926",The United States,TWFyaWx5,F,2480000,4,5,5310,16909,1,0,12,1992,42.88,-78.84,14204,Buffalo
4,André Gide,"November 22, 1869","Paris, France",QW5kcmUt,M,425000,3,1.75,1530,9800,1,0,8,1958,37.61,-82.72,41601,Allen
5,Thomas A. Edison,"February 11, 1847","Milan, Ohio, The United States",VGhvbWFz,M,179900,2,1,680,6400,1,0,6,1943,47.79,-117.01,99025,Newman Lake
6,Eleanor Roosevelt,"October 11, 1884",The United States,RWxlYW5v,F,420000,3,1.75,1770,6000,1,0,7,1952,34.64,-102.71,79035,Friona
7,Steve Martin,"August 14, 1945","Waco, Texas, The United States",U3RldmUt,M,761000,3,3.5,2050,2020,2,0,8,2006,42.09,-72.05,1566,Sturbridge
8,Bob Marley,"February 06, 1945","Nine Mile, Saint Ann, Jamaica",Qm9iLU1h,M,307150,3,1.5,1480,6752,1,0,7,1959,32.79,-96.75,75223,Dallas
9,Dr. Seuss,"March 02, 1904","Springfield, MA, The United States",RHItU2V1,M,550000,3,3.5,2490,3582,2,0,8,2005,42.67,-73.79,12206,Albany
10,Douglas Adams,"March 11, 1952","Cambridge, England, The United Kingdom",RG91Z2xh,M,528000,3,2.5,2020,5613,2,0,7,2003,26.74,-80.11,33417,West Palm Beach
11,Elie Wiesel,"September 30, 1928","Sighet, Romania",RWxpZS1X,M,418395,4,2.5,2906,5893,2,0,9,2014,37.34,-85.33,42718,Campbellsville
12,Friedrich Nietzsche,"October 15, 1844","Röcken bei Lützen, Prussian Province of Saxony...",RnJpZWRy,M,630000,4,2.75,2710,37277,2,0,9,2000,42.88,-78.84,14204,Buffalo
13,Mark Twain,"November 30, 1835","Florida, Missouri, The United States",TWFyay1U,M,673200,5,3,4180,8561,2,0,7,2003,40.05,-84.11,45312,Casstown
14,Allen Saunders,"April 24, 1899",The United States,QWxsZW4t,M,264950,2,1,770,7434,1,0,6,1947,45.53,-102.79,57649,Prairie City
15,Pablo Neruda,"July 12, 1904","Parral, Chile",UGFibG8t,M,1295000,4,3.5,3790,90169,2,0,11,1998,37.98,-89.04,62822,Christopher
16,Ralph Waldo Emerson,"May 25, 1803","Boston, Massachusetts, The United States",UmFscGgt,M,230000,4,1.5,1050,9516,1,0,7,1969,35.51,-80.82,28036,Davidson
17,Mother Teresa,"August 26, 1910","Skopje, Macedonia, the Former Yugoslav Republi...",TW90aGVy,F,410000,4,2,1580,9581,1,0,7,1953,37.43,-96.92,67131,Rock
18,Garrison Keillor,"August 07, 1942","Anoka, Minnesota, The United States",R2Fycmlz,M,247500,4,1.75,2290,7765,1,0,6,1936,44.58,-71.17,3588,Milan
19,Jim Henson,"September 24, 1936","Greenville, Mississippi, The United States",SmltLUhl,M,325000,4,1,1400,9384,1.5,0,6,1948,32.35,-86.27,36106,Montgomery
20,Charles M. Schulz,"November 26, 1922","Minneapolis, MN, The United States",Q3hhcmxl,M,134000,2,1.5,980,5000,2,0,7,1922,38.03,-78.47,22904,Charlottesville
21,William Nicholson,"January 12, 1948","Lewes, Sussex, The United Kingdom",V2lsbGlh,M,315000,3,1.75,1970,8200,1,0,7,1964,48.77,-94.94,56686,Williams
22,Jorge Luis Borges,"August 24, 1899","Buenos Aires, Argentina",Sm9yZ2Ut,M,390000,3,1,1000,6947,1,0,7,1947,34.05,-117.23,92354,Loma Linda
23,George Eliot,"November 22, 1819","South Farm, Arbury Hall, Nuneaton, Warwickshir...",R4Vvcmdl,F,260000,4,2,1620,7992,2,0,7,1975,37.65,-75.66,23418,Onley
24,George R.R. Martin,"September 20, 1948","Bayonne, New Jersey, The United States",R5Vvcmdl,M,378000,4,2.5,1890,12236,1,0,7,1978,40.83,-74.26,7044,Verona
25,C.S. Lewis,"November 29, 1898","Belfast, Ireland",Qy1TLUxl,M,351000,4,2.5,2370,7274,2,0,7,1997,31.47,-92.77,71447,Lena
26,Martin Luther King Jr.,"January 15, 1929","Atlanta, Georgia, The United States",TWFydGlu,M,291600,3,1.75,1630,7480,1,0,7,1979,38.90,-77.02,20535,Washington
27,James Baldwin,"August 02, 1924","Harlem, New York, The United States",SmFtZXMt,M,660000,3,1.75,1980,3300,1.5,0,7,1926,40.28,-76.87,17103,Harrisburg
28,Haruki Murakami,"January 12, 1949","Kyoto, Japa",SGFydWtp,M,292000,3,2.5,1560,2740,2,0,8,1999,43.73,-97.59,57374,Spencer
29,Alexandre Dumas fils,"July 27, 1824","Paris, France",QWxleGFu,M,576750,3,2,2220,5000,1,0,7,1966,40.43,-89.30,61759,Minier
30,Alexandre Dumas fils,"July 27, 1824","Paris, France",QWxleGFu,M,576750,3,2,2220,5000,1,0,7,1966,40.43,-89.30,61759,Minier
31,Alexandre Dumas fils,"July 27, 1824","Paris, France",QWxleGFu,M,576750,3,2,2220,5000,1,0,7,1966,40.43,-89.30,61759,Minier
32,Alexandre Dumas fils,"July 27, 1824","Paris, France",QWxleGFu,M,576750,3,2,2220,5000,1,0,7,1966,40.43,-89.30,61759,Minier
33,Stephenie Meyer,"December 24, 1973","Connecticut, The United States",U3RlcGhl,F,200000,4,2,1920,4822,1,0,6,1914,21.31,-157.84,96813,Honolulu
34,Ernest Hemingway,"July 21, 1899","Oak Park, Illinois, The United States",RXJuZXN0,M,368000,3,1.75,2120,11340,1,0,7,1966,40.12,-90.56,62681,Rushville
35,Helen Keller,"June 27, 1880","Tuscumbia, Alabama, The United States",SGVsZW4t,F,396000,3,1.75,2340,5668,1,0,6,1941,41.68,-73.80,12603,Poughkeepsie
36,George Bernard Shaw,"July 26, 1856","Dublin, Ireland",R2Vvcmdl,M,525000,4,2.5,3070,7200,2,0,8,2005,44.86,-72.58,5471,Montgomery Center
37,Charles Bukowski,"August 16, 1920","Andernach, Germany",Q2hhcmxl,M,590000,4,1.5,2230,5109,1.5,0,7,1918,30.71,-86.04,32435,Defuniak Springs
38,Suzanne Collins,"August 11, 1962","Hartford, Connecticut, The United States",U3V6YW5u,F,530000,3,2.5,1970,6295,2,0,7,2011,32.51,-92.14,71201,Monroe
39,J.R.R. Tolkien,"January 03, 1892","Bloemfontein, Mangaung, Free State, South Africa",Si1SLVIt,M,792500,3,1.5,1960,2400,2,0,8,1911,39.96,-75.15,19123,Philadelphia
40,Alfred Tennyson,"August 06, 1809","Somersby, Lincolnshire, The United Kingdom",QWxmcmVk,M,565000,3,1.75,1130,5111,1,0,7,1942,37.53,-82.62,41605,Betsy Layne
41,Terry Pratchett,"April 28, 1948","Beaconsfield, Buckinghamshire, England, The Un...",VGVycnkt,M,547000,2,1,1370,10038,1.5,0,7,1922,38.86,-104.76,80909,Colorado Springs
42,J.D. Salinger,"January 01, 1919","Manhattan, New York, The United States",Si1ELVNh,M,291850,3,1.5,1060,9711,1,0,7,1963,44.26,-88.38,54911,Appleton
43,George Carlin,"May 12, 1937","New York, New York, The United States",R3Vvcmdl,M,245000,3,1.75,1920,9306,1,0,7,1984,32.91,-96.62,75040,Garland
44,John Lennon,"October 09, 1940","Liverpool, England, The United Kingdom",Sm9obi1M,M,515000,2,1,1060,4960,1,0,7,1926,39.78,-86.14,46204,Indianapolis
45,W.C. Fields,"January 29, 1880","Darby, Pennsylvania, The United States",Vy1DLUZp,M,425000,4,2.5,2390,5021,2,0,7,2002,18.40,-66.05,925,San Juan
46,Ayn Rand,"February 02, 1905","St. Petersburg, Russian Federatio",QXluLVJh,F,825000,4,2.75,3990,6637,2,0,9,2003,37.36,-90.69,63620,Annapolis
47,Jimi Hendrix,"November 27, 1942","Seattle, Washington, The United States",SmltaS1I,M,284200,3,1.75,1540,6632,1,0,7,1959,39.99,-81.17,43713,Barnesville
48,J.M. Barrie,"May 09, 1860","Kirriemuir, Angus, Scotland, The United Kingdom",Si1NLUJh,M,515000,3,2.5,3000,8250,1,0,8,1963,35.90,-80.79,28634,Harmony
49,E.E. Cummings,"October 14, 1894","Cambridge, Massachusetts, The United States",RS1FLUN1,M,485000,4,2,1400,3600,1,0,7,1900,45.45,-122.69,97219,Portland
50,Khaled Hosseini,"March 04, 1965","Kabul, Afghanista",S2hhbGVk,M,527500,4,2.25,2270,8480,1,0,8,1973,38.91,-75.43,19963,Milford
51,Harper Lee,"April 28, 1926","Monroeville, Alabama, The United States",SGFycGVy,F,340500,3,2,2270,28025,1,0,7,1947,38.95,-76.95,20781,Hyattsville
52,Madeleine L'Engle,"November 29, 1918","New York City, New York, The United States",TWFkZWxl,F,296500,3,1.5,1580,10100,1,0,7,1961,38.87,-104.76,80917,Colorado Springs

## Proof of Concept
Use the dataframe that you constructed above to answer the following three questions.

### Question 1
What is the mean and standard deviation of living space (sqft_living) by number of bedrooms? Use the pandas
dataframe.agg() method to calculate these statistics in a single step.

### Question 2
How many authors, by gender, live on lots that exceed the mean lot size (sqft_lot) by more
than 1 standard deviation.

### Question 3
Examine the documentation for the pandas dataframe.cut() method
[Docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html)

Use this method to convert the *price* attribute into to
3 approximately equal sized bins. Assign each bin specific labels of 'low', 'medium', 'high'.
How many authors are there in each price category?

In [8]:
import pandas as pd
import numpy as np


### First need to update the datatype for columns 5-12
merged_source123 = merged_source123.astype({"Name": object, "Birthdate": object, "Birthplace": object, "Key": object, "Gender": object, "price": float, "bedrooms": float, "bathrooms": float, "sqft_lot": float, "sqft_living": float, "floors": float, "waterfront": float, "grade": float, "yr_built": float})

###Question 1 
question1 = merged_source123.groupby('bedrooms')['sqft_living'].agg(['mean','std'])
print(question1)

###Question 2
val = merged_source123['sqft_lot'].mean() + merged_source123['sqft_lot'].std()
filter = merged_source123['sqft_lot'] > val
num_authors = merged_source123[filter]
question2 = num_authors.groupby('Gender')['Name'].count()
print()
print (question2)

###Question 3
question3 = pd.cut(merged_source123['price'], 3, labels = ["low", "medium", "high"])
merged_source123['price_1'] = question3
merged_source123

merged_source123.groupby('Name').count()
question_3 = merged_source123.groupby('price_1')['Name'].count()
print()
print (question_3)

                 mean          std
bedrooms
2.0        972.000000   270.314631
3.0       1838.888889   500.310160
4.0       2454.777778  1066.275130
5.0       4180.000000          NaN

Gender
F    1
M    2
Name: Name, dtype: int64

price_1
low       49
medium     1
high       1
Name: Name, dtype: int64

## Deliverable
Due to the the implementation of the JNB app, it is very easy to create circular variable dependencies. Such
dependencies will thwart my ability to run your entire JNB solution and result in the loss of valuable project points.

To ensure that your have not inadvertently created such dependencies, I **strongly** recommend you perform the following steps
prior to submitting your JNB.

1. Clear all outputs from your JNB solution's code cells
1. Save you JNB solution
1. Stop and restart your JNB kernel via the *Kernel* Jupyter Notebook menu item. Use the
*Restart & Run All Output* menu item.
1. Inspect your output cells for any errors

Once you have completed your project, upload the JNB containing your solution to the
*Course Project* assessment item located in the *Course Project* content area on our Blackboard site.